<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block meta %}
        {% include "@SuluWebsite/Extension/seo.html.twig" with {
            "seo": extension.seo|default([]),
            "content": content|default([]),
            "localizations": localizations|default([]),
            "shadowBaseLocale": shadowBaseLocale|default(),
        } %}
    {% endblock %}

    {% block style %}

        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
    <header>
        {% block header %}

    <nav class="navbar navbar-light navbar-expand-lg bg-light absolute-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="http://vspj.ru/">Menu</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="http://vspj.ru/">Home</a>
          </li>
          {% for item in sulu_navigation_root_tree('main') %}
                        <li class="nav-item">
                            <a class="nav-link smooth-link" href="{{ sulu_content_path(item.url, item.webspaceKey) }}">{{ item.title }}</a>
                         </li>

                    {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</nav>

        {% endblock %}
    </header>


    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        {% block footer %}
            <p>Copyright {{ 'now'|date('Y') }} Rick and Morty</p>
        {% endblock %}
    </footer>

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</body>
</html>


